<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <h1 class="form-signin-heading"> Welcome to CoffeeHouse --Retirement House for you </h1>
    <h2 class="form-signin-heading"></h2>


    

    <br></br>
    Choose Department:
    <button type="submit" class="btn btn-lg btn-primary btn-block">Kristianstad</button><br></br>
    Choose Department<br></br>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Hassleholm</button>
    <br></br>
    <br></br>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Malmo</button>

    >

  </div>
</body>

</html>